html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
}

h1 {
  text-align: center;
  color: #3498db;
}


.searcher {
  margin: 0 auto;
  display: block;
}

.btnLoader {
  margin: 0 auto;
  display: none;
  border-color: #3498db;
  border-radius: 0;
  color: #3498db;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.btnLoader:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #3498db;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.btnLoader:hover {
  color: #fff;
}
.btnLoader:hover:after {
  width: 110%;
}

.gallery {
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stats {
  display: flex;
  justify-content: space-around;
}

.photo-card img {
  width: 320px;
  height: 220px;
}

.intro {
  width: 1200px;
  margin: 0 auto;
}
